<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" >
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <h2><button><a href="home1">Login</a></button></h2>
            <br>
            <a href =signup>New to us ?  Create an account.</a>
        </form>
    </div>
</body>