<html>
    <body>
        <h4><button type="button">
            <a href ="home">Logout</a></button>
          </h4>
        <img src="https://cdn.shopify.com/s/files/1/0579/7924/0580/files/Spring-Banners_New-arrivals-Planters.jpg?v=1709817148">
        <img src="https://nurserylive.com/cdn/shop/files/nurserylive-app-home-page-banner-balcony-and-terrace-garden-metal-stand-v3_c1641745-019f-492b-bb98-34fc435c3f8f_670x400.jpg?v=1636743163">
        <img src="https://nurserylive.com/cdn/shop/files/nurserylive-app-home-page-cactus-and-succulent-banner-v3_1_670x400.jpg?v=1637848499">
    </body>
</html>