<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN GO E-COMMERCE</title>
    
</head>
<body>
    <header>
        <h1>GREEN GO E-COMMERCE</h1>
        
    </header>
    
    <nav>
        <a href="home">Home</a>
        <a href="category/">category</a>
        <a href="about">About</a>
        <a href="contact">Contact Us</a>
    </nav>
   

    <router-outlet></router-outlet>
</body>
</html>